.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container h3 {
  color: var(--black-900);
  margin: 0;
  padding: 20px;
}

.container div {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}
