.container {
  background-color: var(--black-200);
  width: 18rem;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  transition: all 1s ease-in-out;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--white-900);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  transition: color 0.3s;
}

.link:hover {
  color: #38b2ac;
}

@media (max-width: 768px) {
  .link {
    display: none;
  }

  .container {
    display: none;
  }
}
